.movie {
  width: 70%;
  margin-left: 50px;
  padding-right: 50px;
}

.movie__desc {
  font-size: 18px;
  font-weight: 300;
}

.movie__desc--bold {
  font-size: 20px;
  font-weight: 500;
}

.movie__overview {
  @extend .movie__desc;
  margin-top: 60px;
  text-align: justify;
}

